// Global Styles
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
}

.flex-box{
    display: flex;
    
    & > .left-side{
        margin-right: auto;
    }
    
    & > .right-side{
        margin-left: auto;
    }
}

// Style for interior pages
.interior-page{
    width: 100%;
    max-width: 650px;
    padding: 25px;
    background-color: #fff;
    box-shadow: $elm-shadow;
    
    // Intro style for interior pages
    & > section{
        &.intro{
            margin-bottom: 25px;
        }
        
        & > p{
            font-family: $pt-sans;
            color: $dark-text;
            
            & > a{
                font-weight: bold;
                text-decoration: none;
                color: $tny-blue;
            }
        }
    }
    
    & > .linkid-instructions{
        width: 100%;
        margin-top: 20px;
        display: block;
        font-family: $pt-sans;
        @include fontSize(13px);
        color: $grey-text;
        text-align: center;
    }
}