// Variables

// - Colors
$tny-blue: #2e91f6;
$bg-color: #f0efeb;
$grey-text: #b1b1b1;
$dark-text: #504f4f;
$teal-text: #03b4e0;
$error: #fa3d3d;
$success: #1fc038;
$elm-shadow: 1px 1px 1px 0px rgba(0, 103, 209, 0.4);

// -Fonts
$pt-sans: 'PT Sans', sans-serif;

// Functions
@function rem-calc($value){
    @return ($value / 16px) * 1rem;
}

// Mixins
@mixin fontSize($size){
    font-size: $size;
    font-size: rem-calc($size);
}